body { 						/*On séléctionne le body*/
	text-align : center;	/*On met tout au centre*/
}
#choice {					/*On sélectionne la balise ayant l'id choice*/
	max-height : 70%;		/*On définit une hauteur maximale à 70% de la page*/
	overflow : auto;		/*On fait en sorte que si ça dépasse, il faut que ce soit une liste déroulante*/
	text-align : left;		/*On aligne le texte du bon côté*/
	witdh : 100%;			/*on définit que la liste prenne toute la largeur de la page*/
}
#progressBarControl {		/*On sélectionne la barre de progression*/
	width: 100%;			/*Elle prend toutes les largeurs de la page*/
	height: 15px;			/*Seulement 15 pixels de hauteur*/
	border: 1px solid #aaa;	/*On met des bordures*/
	border-radius: 2px;		/*On arrondi un peu les coins des bordures*/
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);/*On met une petite ombre noire*/
	margin-bottom: 5px;		/*On la positionne à 5 pixels de la div du dessous*/
	display: inline-block;	/*Un peu complexe, cela sert à faire ce que l'on veut de la div*/
}
#progressBar {				/*On sélectionne la partie noir de la barre de progression, la partie qui va indiquer la progression de la musique*/
	width: 0px;				/*De base, la musique n'a pas commencé donc pas de largeur pour cette barre*/
	background: rgb(110,110,110);/*La couleur de la barre (gris)*/
	height: 15px;			/*La hauteur : 15 pixels*/
	text-align: center;		/*Texte au centre de la barre*/
	line-height: 15px;		
	font-size: 9px;			/*Taille du texte*/
	white-space: nowrap;
	cursor: pointer;
}
#player {					/*On sélectionne les boutons de contrôle*/
	box-shadow : 0px -10px 10px grey;	/*Une ombre jolie un peu décolée sur le haut*/
}
.control {					/*On sélectionne tous ceux de la classe control*/
	background : transparent;	/*Les boutons transparents*/
}
div[path]:hover {			/*Quand on passe sur une div qui a path come argument*/
	background-color:aqua;	/*Elle prend la couleur aqua*/
}
div[path]:focus {			/*Quand on clique dessus cette fois*/
	background-color:navy;	/*Couleur bleu*/
}
div[path] {					/*Tout le temps*/
	border-bottom : 1px solid black;/*Une bordure en bas*/
}
